<app-header></app-header>

<div class="row" style="margin:100px ;">
  <div class="col-md-6">
      <img *ngIf="product.photosURL" width="300px" height="400px" class="img-responsive card-img" [src]="product.photosURL" alt="{{ product.itemName }}">
  </div> 
  <div class="col-md-6">
    <div class="row">
        <div class="col-md-5 label">Name:</div>
        <div class="col-md-7"><span >{{product.itemName.toUpperCase()}}</span></div>
       </div> 
       <div class="row">
          <div class="col-md-5 label">Description:</div>
          <div class="col-md-7"><span >{{product.itemDescription}}</span></div>
         </div> 
         <div class="row">
            <div class="col-md-5 label">Price:</div>
            <div class="col-md-7"><span >${{product.price}}</span></div>
           </div> 
           <div class="row">
              <div class="col-md-5 label">Owner:</div>
              <div class="col-md-7"><span >{{product.user.name}}</span></div>
             </div> 
             <div class="row">
                <div class="col-md-5 label">Phone:</div>
                <div class="col-md-7"><span>{{product.user.mobile}}</span></div>
               </div> 
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                <button class="btn btn-primary" style="width: 150px;" (click)="bid(product)" >Bid</button>
                </div>
              </div>
    </div>
  </div>
