<app-header></app-header>
<div class="container" style="margin:100px">
  <form class="form-group" (ngSubmit)="loginUser(f.value)" *ngIf="!loginShow" class="login-form">
      <div class="row">
          <div class="col-md-3 pull-right">Name</div> 
          <div class="col-md-6">
            <input class="form-control" id="name" name="name" type="text" placeholder="name" required/>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-3 pull-right">Phone</div> 
          <div class="col-md-6">
            <input class="form-control" id="phone" name="phone" type="text" placeholder="phone" required/>
          </div> 
        </div>
<div class="row">
   <div class="col-md-3 pull-right">Email</div> 
   <div class="col-md-6">
    <input class="form-control" id="email" name="email" type="text" placeholder="username" required/>
   </div> 
</div>
<div class="row">
  <div class="col-md-3 pull-right">Address</div> 
  <div class="col-md-6">
    <input class="form-control" id="Address" name="Address" placeholder="Address" required/>
  </div> 
</div>

    <button class="btn btn-primary pull-right">Edit Profile</button>
  </form>
</div>
